@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 98%;
      --foreground: 0 0% 13%;

      --muted: 240 9% 96%;
      --muted-foreground: 60 1% 39%;

      --primary: 214 97% 54%;
      --secondary: 6 49% 60%;

      --accent: 0 0% 94%;
      --accent-foreground: 0 0% 100%;

      --popover: 0 0% 100%;

      --border: 0 0% 90%;

      --radius: .875rem;

      --shadow: 0px 0px 0px 1px rgba(9, 9, 11, .06),
         0px 2px 2px 0px rgba(9, 9, 11, .07);
   }
}

@layer utilities {
   .mask-scroll-container {
      mask-image: linear-gradient(to left, transparent, white 25%, white 100%, transparent 100%);
   }
}

@layer base {
   * {
      @apply border-border;
   }

   body {
      @apply bg-background text-foreground;
   }
}

.no-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
   display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
   appearance: textfield;
}

h1,
h2,
h3,
h4,
h5 {
   text-wrap: balance;
}